.background {
  background-color: var(--color-accent);
}

.layout {
  composes: base from 'styles/modules/container.module.scss';
  composes: narrow from 'styles/modules/container.module.scss';

  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
}

.link {
  composes: with-hover from 'styles/modules/button.module.scss';
  --button-color: var(--color-secondary);
}
