@use './TopNav.module';

.layout {
  text-align: center;

  @include TopNav.desktop {
    display: none;
  }
}

.button {
  composes: static from 'styles/modules/button.module.scss';
  --button-color: var(--color-accent);
}

.icon {
  margin-right: 0.25em;
  transform: translateY(+0.8px);
}
