@use '../TopNav/TopNav.module';

.root {
  text-align: center;

  @media (min-width: TopNav.$breakpoint) {
    display: none;
  }
}

.button {
  // box model
  border: 2px solid;
  border-radius: 10px;
  padding: 0.8em 1.6em;

  // inside
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-accent);

  // interaction
  cursor: pointer;
  transition: border-color .3s, opacity .3s;

  &:hover {
    border-color: transparent;
    opacity: .5;
  }
}

.icon {
  margin-right: 0.25em;
  transform: translateY(+0.8px);
}
