.root {
  text-transform: uppercase;
}

.item {
  border-top: 1px solid var(--color-shade);
}

.link {
  display: block;
  padding: 0.8em 1.6em;
  font-size: .875rem;
  font-weight: bold;
  line-height: 1.6;
  text-decoration: inherit;
  text-transform: uppercase;
  transition: opacity .3s;

  &:hover {
    opacity: .5;
  }

  &--active {
    opacity: .5;
  }
}

.active {
  opacity: 0.5;
}
