$-breakpoint: 768px;

@mixin mobile {
  @media (max-width: $-breakpoint) {
    @content
  }
}

@mixin desktop {
  @media (min-width: $-breakpoint) {
    @content
  }
}

.layout {
  composes: base from 'styles/modules/container.module.scss';
  composes: wide from 'styles/modules/container.module.scss';

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
