.link {
  composes: base from '_menu-item-content.module.scss';
  transition: opacity .3s;
}

.to-current-page,
.link:hover {
  opacity: 0.5;
}

.level-2 {
  composes: level-2 from '_menu-item-content.module.scss';
}
