// This file uses global and element-based styling to emulate a situation in which the HTML content comes from a CMS.

.root {
  composes: base from 'styles/modules/container.module.scss';
  composes: narrow from 'styles/modules/container.module.scss';

  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 18px;
  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding-bottom: 1rem;
    padding-top: .5em;
    font-weight: 300;
    color: var(--color-title);
  }

  h1 { font-size: 42px }
  h2 { font-size: 36px }
  h3 { font-size: 32px }
  h4 { font-size: 28px }
  h5 { font-size: 24px }
  h6 { font-size: 21px }

  p {
    margin: .8em 0;
    text-align: justify;
  }

  a {
    &:hover {
      opacity: 0.75;
    }
  }

  li {
    list-style: none;

    &:not(:first-of-type) {
      margin-top: .8em;
    }

    &:not(:last-of-type) {
      margin-bottom: 0.8em;
    }
  }

  hr {
    background-color: #ddd;
    border: none;
    height: 1px;
    margin: 1.6em 0;
  }

  .center {
    text-align: center;
  }
}
