@use '../TopNav.module';

.level-1 {
  @include TopNav.desktop {
    display: flex;
    justify-content: flex-end;
  }
}

.level-2 {
  @include TopNav.desktop {
    display: none;
    min-width: 15em;
    position: absolute;
    top: 2.25em;
    background-color: var(--color-accent);
    color: var(--color-secondary);

    .item:hover > &,
    .item:focus-within > & {
      display: block;
    }
  }
}

.item {
  position: relative;

  @include TopNav.mobile {
    border-top: 1px solid var(--color-shade);
  }
}

.chevron {
  margin-left: 0.5em;
}
