@use 'styles/theme/colors.module';
@use 'styles/theme/fonts.module';
@use 'utils';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: fonts.$primary;
  color: colors.$primary
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}
