@use 'styles/theme/colors';
@use 'styles/theme/fonts';
@use 'utils';

* {
  box-sizing: border-box;

  &:focus {
    outline-color: var(--color-focus);
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}
